* {
    padding: 0px;
    margin: 0;
    background-color: rgb(0, 0, 43);
    color: white;
    font-family: 'M PLUS 1 Code';
}

.maincontainer {
    display: grid;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 10vh 1vw 1vh 1vw;
    row-gap: 1vh;
    column-gap: 1.25%;
    grid-template-columns: 35% 27.5% 35%;
    grid-template-rows: 35vh 17vh 35vh;
    grid-template-areas:
        /* 'hd hd hd' */
        /* 'bg bg bg' */
        'a1 l1 img1'
        'e1 l2 e2'
        'bt bt bt'
}

.morecontainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 1vw 1vh 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
        'hd hd hd'
        'c_h c_img c_a'
}

.c_header {
    grid-area: c_h;
    font-size: 64px;
    justify-self: center;
    align-self: center;
}

.c_img {
    grid-area: c_img;
    display: flex;
    width: 100%;
    height: 100%;
}

.c_img img{
    height: 50%;
    object-fit: contain;
    align-self: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #2ecc71;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 4px;
    border-color: #2ecc71;
    text-decoration: none;
    padding: 3px;
}

a:visited {
    color: #2ecc71;
}

.landing_wpp {
    display: flex;
    background-image: url(../fallingcode.gif);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.landing_wpp h1 {
    margin-top: 30vh;
    background: transparent;
    font-size: 64px;
}

header {
    /* padding-right: 10vw; <-- detta funka ej och idk varför*/ 
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

header h1 {
    display: flex
}

h1 img {
    width: 40px;
}

#logo {
    border: none;
    color: white;
}

nav {
    justify-content: space-between;
}

article {
    overflow: hidden;
}

p {
    font-size: 16px;
    margin: 0px;
}

.article1 {
    grid-area: a1;
}

.link1 {
    grid-area: l1;
}

.image1 {
    grid-area: img1;
    overflow: hidden;
}

img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.link2 {
    grid-area: l2;
}


/* TODO: ändra detta till flex (varför??)*/
.bottom {
    grid-area: bt;
    display: grid;
    /* background-color: rgb(20, 20, 20); */
    grid-template-columns: 35% 27.5% 35%;
    grid-template-areas: 'img2 l3 a2';
    justify-content: space-between;
}

.image2 {
    grid-area: img2;
    overflow: hidden;
}

.link3 {
    grid-area: l3;
}

.article2 {
    grid-area: a2;
}