body {
    margin: 0;
    background-color: rgb(0, 0, 43);
    color: white;
    font-family: 'M PLUS 1 Code';
}

.maincontainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    row-gap: 1vh;
    column-gap: 1.25%;
    grid-template-columns: 35% 27.5% 35%;
    grid-template-rows: 10vh 35vh 17vh 35vh;
    grid-template-areas:
        'hd hd hd'
        'a1 l1 img1'
        'e1 l2 e2'
        'bt bt bt'
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #2ecc71;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 4px;
    border-color: #2ecc71;
    text-decoration: none;
    padding: 3px;
}

a:visited {
    color: #2ecc71;
}

article {
    overflow: hidden;
}

p {
    font-size: 16px;
    margin: 0px;
}

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    justify-content: space-between;
}

.article1 {
    grid-area: a1;
}

.link1 {
    grid-area: l1;
}

.image1 {
    grid-area: img1;
    overflow: hidden;
}

img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.link2 {
    grid-area: l2;
}

.bottom {
    grid-area: bt;
    display: grid;
    /* background-color: rgb(20, 20, 20); */
    grid-template-columns: 35% 27.5% 35%;
    grid-template-areas: 'img2 l3 a2';
    justify-content: space-between;
}

.image2 {
    grid-area: img2;
    overflow: hidden;
}

.link3 {
    grid-area: l3;
}

.article2 {
    grid-area: a2;
}