body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'M PLUS 1 Code';
}

.maincontainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 10vh 35vh 20vh 35vh;
    grid-template-areas:
        'hd hd hd'
        'a1 l1 img1'
        'e1 l2 e2'
        'img2 l3 a2'
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 3px;
    border-color: #2ecc71;
    text-decoration: none;
}

a:visited {
    color: #2ecc71;
}

p {
    font-size: 16px;
    margin: 0px;
}

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    justify-content: space-between;
}

.article1 {
    grid-area: a1;
}

.link1 {
    grid-area: l1;
}

.image1 {
    grid-area: img1;
    background-image: url(../kod.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.link2 {
    grid-area: l2;
}

.image2 {
    grid-area: img2;
    background-image: url(../programmer.jpg);
    background-size: contain;
    width: 100%;
    height: 100%;
}

.link3 {
    grid-area: l3;
}

.article2 {
    grid-area: a2;
}